.input-group+.invalid-feedback {
  display: block;
}



.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 125px;
  height: 125px;
}