<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/core.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="https://use.fontawesome.com/53518f270c.js"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    <script type="text/javascript" src="/public/js/jquery-2.2.4.min.js"></script>
  </head>
  <body class="bg-light">